################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BulkActionsForPaintDotNet/obj
/BulkActionsForPaintDotNet/bin
/.vs

